
# MONGODB=mongodb://localhost:27017/nest-pokemon
MONGODB=mongodb+srv://rolando-user:YDM.4jaV2cm5B5L@mongodbcluster.bbamekn.mongodb.net/
PORT=3000
DEFAULT_LIMIT=5


# rolandocgr2026_db_user
# qh0oURL3sGEIp1p0

# rolando-user
# YDM.4jaV2cm5B5L